black==20.8b1
coveralls==2.1.2
flake8==3.8.4
flake8-docstrings==1.5.0
pydocstyle==5.1.1
isort==5.5.4
pylint==2.6.0
pytest==6.1.1
pytest-asyncio==0.14.0
pytest-cov==2.10.1
pytest-timeout==1.4.2
yarl==1.6.0